<link rel="stylesheet" href="/css/games.css">
<div class="games-page">
    <div class="games-container">
        <div class="banner">
            <img src="/images/games/banner.png" alt="featured_game_image">
        </div>
        <div class="search-container" id="search-container">
            <form class = "search" action="/games" method="GET">
                <input type="text" id="search-input" name="search" placeholder="Search games"></input>
                <button type="submit" onclick="OnClickSearch()"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="52" height="52" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <circle cx="10" cy="10" r="7" />
                    <line x1="21" y1="21" x2="15" y2="15" />
                    </svg> 
                </button>
            </form>
        </div>
        <div class="result-container" id="result-container">
            
            <div class="result-item-container" id="result-item-container">
                {{!-- <div class="result-item">
                <div class="result-text">
                    <p>{{this.title}}</p>
                </div>
            </div> LOOP THROUGH JAVASCRIPT(search_game.js) --}}
            </div>
            <div class="no-result-item" id="no-result">
                <div class="no-result-text">
                    <p>No results found.</p>
                </div>
            </div>
        </div>
        <br>

        <div id="status" class="status">{{status}}</div>
        <script src="/js/search_game.js"></script>
        
        <br>

        {{#each games}}
        <div class="game-container">
            <div class="game-image">
                <img src="{{this.i_src}}" alt="Image cannot be loaded.">
            </div>
            <div class="game-content">
                <div class="game-data">
                    {{this.date}}. {{this.s_os}}. ({{this.category}})
                </div>
                <div class="game-title">
                    {{this.title}}
                </div>
                <hr>
                <div class="game">
                    <p>{{this.desc}}</p>
                </div>
                <div class="game-play-game-button">
                    <button onclick="window.location.href = '{{this.d_link}}';">Play Game</button>
                </div>
            </div>
        </div>
        {{/each}}
        <div class="game-navigation">
            <div class="previous-game" id="previous-game">
                <button onclick="previous()">
                    prev
                </button>
            </div>
            <div class="page-number">
                {{pageNumber}}
            </div>
            <div class="next-game" id="next-game">
                <button onclick="next()">
                    next
                </button>
            </div>
            <script src="/js/game_navigation.js"></script>
        </div>
    </div>
</div>